* {
  padding: 0px;
  margin: 0px;
  /*이렇게 까지 하면 기본적으로 모든 요소들이 가지는 padding, margin 값이 어느 정도 있는데 그걸 0으로 없애 준다*/
  box-sizing: border-box;
  /*만약 뭔가를 고정 px로 만들 때 저절로 뭔가와 padding, margin 값을 포함해서 내가 원하는 크기로 만들어 준다.*/
}

header {
  background-image: url("../images/background.jpg");
  height: 880px;
  background-size: 100% 100%;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 20px;
}

.menu ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  list-style: none;
}

.menu ul a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.search__box {
  position: relative;
  top: 50px;
  left: 50px;
  width: 430px;
  height: 400px;
  background-color: white;
}
